<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup>        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
    <appSettings>
      <add key="ConnectionType" value="6"/>
      <add key="ProtocolType" value="0"/>
      <add key="IPAddress" value="192.168.137.111"/>
      <add key="UseIPAddress" value="true"/>
      <add key="TCPPort" value="7778"/>
      <add key="Timeout" value="1000"/>
      <add key="Password" value="30"/>
      <add key="Interval" value="10000"/>
    </appSettings>
</configuration>
